.App {
  text-align: center;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #d5e4f3 !important;
}


#App-Name {
  color: #0d71bc;
}

#arrow-icon {
  height: 0.8em;
  margin: 0.5em;
}

#kj-convert { 
  width: 55vw;
  height: 30vh;
  background-color: #efefef;
  border: 1rem solid #0d71bc;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;

}

.input-group {

}
#input-container {
}
